<div class="mx-auto w-full max-w-xs py-3" >
    <form class="mb-4 rounded bg-white px-8 pb-8 pt-6 shadow-md">
        <div class="mb-4">
            <label
                class="mb-2 block text-sm font-bold text-gray-700"
                for="nome"
            >
                Nome
            </label>
            <input
                [(ngModel)]="nome"
                name="nome"
                class="appearance-none focus:shadow-outline w-full rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500"
                id="nome"
                type="text"
                placeholder="Nome"
            />
            <label
                class="mb-2 block py-2 text-sm font-bold text-gray-700"
                for="cpf"
            >
                CPF
            </label>
            <input
                [(ngModel)]="cpf"
                name="cpf"
                class="appearance-none focus:shadow-outline w-full rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500"
                id="cpf"
                type="text"
                placeholder="CPF"
            />
            <label
                class="mb-2 block py-2 text-sm font-bold text-gray-700"
                for="email"
            >
                Email
            </label>
            <input
                [(ngModel)]="email"
                name="email"
                class="appearance-none focus:shadow-outline w-full rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500"
                id="email"
                type="text"
                placeholder="Email"
            />
            <label
                class="mb-2 block py-2 text-sm font-bold text-gray-700"
                for="telefone"
            >
                Telefone
            </label>
            <input
                [(ngModel)]="telefone"
                name="telefone"
                class="appearance-none focus:shadow-outline w-full rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500"
                id="telefone"
                type="text"
                placeholder="Telefone"
            />
        </div>
        <div class="mb-6">
            <label
                class="mb-2 block text-sm font-bold text-gray-700"
                for="senha"
            >
                Senha
            </label>
            <input
                [(ngModel)]="senha"
                name="senha"
                class="appearance-none focus:shadow-outline mb-3 w-full rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500"
                id="senha"
                type="password"
                placeholder="********"
            />
        </div>
        <div class="flex items-center justify-between">
            <button
                (click)="salvarUsuario()"
                class="rounded bg-primary px-4 py-2 text-on-primary"
                type="button"
            >
                Cadastrar
            </button>
            <div>
                <button
                    (click)="irParaLogin()"
                    class="rounded bg-accent px-4 py-2 text-on-accent"
                    type="button"
                >
                    Possui cadastro?
                </button>
            </div>
        </div>
    </form>   
</div>


<ng-template #telaLogin>
    <div class="mx-auto w-full max-w-xs">
        <form class="mb-4 rounded bg-white px-8 pb-8 pt-6 shadow-md">
            <div class="mb-4">
                <label
                    class="mb-2 block py-2 text-sm font-bold text-gray-700"
                    for="email"
                >
                    Email
                </label>
                <input
                    [(ngModel)]="email"
                    name="email"
                    class="appearance-none focus:shadow-outline w-full rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500"
                    id="email"
                    type="text"
                    placeholder="Email"
                />
            </div>
            <div class="mb-6">
                <label
                    class="mb-2 block text-sm font-bold text-gray-700"
                    for="senha"
                >
                    Senha
                </label>
                <input
                    [(ngModel)]="senha"
                    name="senha"
                    class="appearance-none focus:shadow-outline mb-3 w-full rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500"
                    id="senha"
                    type="password"
                    placeholder="********"
                />
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="focus:shadow-outline rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none"
                    type="button"
                >
                    Login
                </button>
                <a
                    class="align-baseline inline-block text-sm font-bold text-blue-500 hover:text-blue-800"
                    href="#"
                >
                    Esqueceu a senha?
                </a>
                <a
                    class="align-baseline inline-block text-sm font-bold text-blue-500 hover:text-blue-800"
                    (click)="irParaCadastro()"
                >
                    Não possui cadastro?
                </a>
            </div>
        </form>
    </div>
</ng-template>
