<div class="gt-xs:flex-row flex flex-col ">
      
    <mat-form-field class="gt-xs:pl-3 max-w-200">
      <mat-label>Objetivo(s) Estratégico(s)*</mat-label>
      <input matInput [(ngModel)]="consequencia" />
      <button (click)="salvarConsequencia()">
        <mat-icon class="rounded bg-primary text-on-primary hover:text-white">add</mat-icon>
      </button>
    </mat-form-field>
  
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    
  
      <div class="bg-white shadow-md rounded-lg overflow-hidden overflow-y-auto dark:bg-transparent max-w-280 p-4" style="max-height: 200px;" *ngIf="!errorMessage ">
        <div *ngFor="let consequencia of consequenciasLista; let last = last" class="p-3 w-full flex justify-between items-center border-primary" [ngClass]="{'border-b': !last}">
          <span>{{ consequencia.consequencia }}</span>
          <button (click)="removerConsequencia()">
            <mat-icon class="hover:text-red-600" svgIcon="heroicons_outline:trash"></mat-icon>
          </button>
        </div>
      </div>
    
  </div>