<div class="gt-xs:flex-row flex flex-col">
    <mat-form-field class="gt-xs:pr-3 flex-auto">
        <mat-label>Classificação do risco*</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field class="gt-xs:pl-3 flex-auto">
        <mat-label>Objetivo(s) Estratégico(s)*</mat-label>
        <input matInput [(ngModel)]="objetivoEstrategicoo" />
        <button (click)="salvarObjetivo()">
            <mat-icon class="rounded bg-primary text-on-primary">add</mat-icon>
        </button>
    </mat-form-field>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
    <div class="p-4 rounded border-2 border-primary" *ngIf="!errorMessage">
        <div class="bg-white shadow-md rounded-lg overflow-hidden overflow-y-auto dark:bg-transparent" style="max-height: 200px;">
          <div *ngFor="let objetivo of objetivosEstrategicos; let last = last" class="p-4 w-full flex justify-between items-center border-primary" [ngClass]="{'border-b': !last}">
            <span>{{ objetivo.objetivoEstrategico }}</span>
            <button>
              <mat-icon class="hover:text-red-600" svgIcon="heroicons_outline:trash"></mat-icon>
            </button>
          </div>
        </div>
      </div>
                                                                                        

    <mat-form-field class="gt-xs:pl-3 flex-auto py-5">
        <mat-label>Objetivo(s) Operacional(s)*</mat-label>
        <input matInput [(ngModel)]="objetivoOperacionalInput"/>
        <button (click)="salvarObjetivoOperacional()">
            <mat-icon class="rounded bg-primary text-on-primary">add</mat-icon>
        </button>
    </mat-form-field>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
    <div class="p-4 rounded border-2 border-primary" *ngIf="!errorMessage">
        <div class="bg-white shadow-md rounded-lg overflow-hidden overflow-y-auto dark:bg-transparent" style="max-height: 200px;">
          <div *ngFor="let operacional of objetivosOperacionaiss; let last = last" class="p-4 w-full flex justify-between items-center border-primary" [ngClass]="{'border-b': !last}">
            <span>{{ operacional.objetivoOperacionais }}</span>
            <button >
              <mat-icon class="hover:text-red-600" svgIcon="heroicons_outline:trash"></mat-icon>
            </button>
          </div>
        </div>
      </div>

</div>